<div class="introductions">
  <div ng-repeat="line in introductions" class="row introduction">
    <div class="col-xs-12">
      {{line}}
    </div>
  </div>
</div>

<div class="timeChanges">
  <div class="row timezone">
    <div class="col-xs-3 timeText">
      {{getTimezoneDesc()}}
    </div>
    <div class="col-xs-8 col-xs-offset-1">
      <button class="btn btn-sm btn-white timeChoice"
              ng-disabled="!canSetTimezone()" ng-click="setTimezone()"
              ng-class="{btnHover:canSetTimezone()}">
        {{clock | date:'shortTime' | lowercase}}, gmt {{timezoneOffset()}}
      </button>
    </div>
  </div>

  <div class="row timehour" ng-repeat="block in blocks">
    <div class="col-xs-3 timeText">
      {{getBlockDescription(block)}}
    </div>
    <div class="col-xs-4 col-xs-offset-1">
      <select ng-if="canSetTimeblocks()" class="form-control timeChoice timeSelect" ng-model="block.time"
              ng-options="time for time in getAvailableTimes(block.time)" ng-change="updateBlocks()">
      </select>
      <button ng-if="!canSetTimeblocks()" class="btn btn-sm btn-white timeChoice"
              ng-disabled="true">
        {{block.time}}
      </button>
    </div>
  </div>
</div>
