body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
}

.header {
    padding-top:30px;
    padding-bottom:30px;
    font-size:20px;
}

#inactive-warning {
    color:#D8000C;
    position:relative;
    top:3px;
}
#active-reminder {
    color:#00529B;
    position:relative;
    top:3px;
}

::-webkit-input-placeholder {
    color: rgba(9, 14, 207, .5);
}
:-moz-placeholder {
    color: rgba(9, 14, 207, .5);
}
::-moz-placeholder {
    color: rgba(9, 14, 207, .5);
}
:-ms-input-placeholder {
    color: rgba(9, 14, 207, .5);
}

/* For Angular-UI Bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


/* Home page */

.full {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  min-height: 100%;
}

.page {
    min-height:100%;
    position:relative;
}

.toggle-inbox {
    float:right;
    border-radius:4px;
    border-color:#00529B;
    font-size:14px;
}
.deactivate-inbox-color {
    border-color:#D8000C;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .dropdown-menu {
        right: 0;
        left: auto;
        min-width: 120px;
        font-size: 12px;
    }
    .plan-title {
        font-size:15px;
    }
    .plan-price {
        height:40px;
        padding:10px;
    }
    .plan-price h1 {
        font-size:15px;
    }
    .plan-detail {
        font-size:15px;
    }
    .plan-footer {
        padding: 5px 5px;
    }
    .subscript {
        font-size:15px;
    }
    .header {
        font-size: 12px;
        padding-bottom:0px;
    }
    .introductions {
        margin-bottom:0px;
    }
    .introduction {
        font-size:15px;
        margin-bottom:15px;
    }
    .btn-responsive {
        padding: 2px 4px;
        font-size: 80%;
        line-height: 1;
    }
    .connect {
        float:right;
        margin-left:5px;
        font-size:80%;
    }
    .content {
        padding-bottom:20px;
    }
    .faq {
        font-size: 15px;
        margin-bottom:25px;
    }
    .f-question {
        font-weight:600;
    }
    .f-answer {
        margin-top:10px;
    }
    .plans {
        margin-top:20px;
    }
    .plan {
        margin-right:15px;
    }
    .timezone {
        font-size:15px;
        height:50px;
        margin-top:0px;
        margin-bottom:15px;
    }
    .timeChoice {
        font-size:18px;
        height:50px;
    }
    .submitButtons {
        margin-top:15px;
    }
}
@media only screen and (min-width:481px) {
    .introductions {
        margin-bottom:50px;
    }
    .introduction {
        font-size:25px;
        margin-bottom:15px;
    }
    .connect {
        float:right;
        margin-left:30px;
    }
    .content {
        padding-bottom:80px;
    }
    .faq {
        font-size:25px;
        margin-bottom:55px;
    }
    .f-question {
        font-weight:600;
    }
    .f-answer {
        margin-top:10px;
    }
    .plans {
        margin-top:100px;
    }
    .plan {
        margin-right:60px;
    }
    .plan-price {
        height:80px;
        padding:20px;
    }
    .plan-detail {
        font-size:15px;
    }
    .plan-footer {
        padding: 5px 5px;
    }
    .subscript {
        font-size:25px;
    }
    .timezone {
        font-size:25px;
        height:60px;
        margin-top:25px;
    }
    .timeChoice {
        font-size:25px;
        height:60px;
    }
}

.brand {
    text-decoration: none !important;
    color:inherit;
}
.btn-white {
    background-color:white;
}
.btnHover {
    border-color:inherit;
}
.timehour {
    margin-top:30px;
    margin-bottom:30px;
}
.timeChoice {
    width:100%;
    border-radius:4px;
    border-color:inherit;
}
.timezone {
    border-radius:4px;
    border-color:inherit;
    width:100%;
}
.timeSelect {
    text-indent:35%
}
.timeText {
    font-size:25px;
    top:10px;
}
#footer {
    width:100%;
    bottom:0px;
    position:absolute;
}

.panel {
    text-align:center;
}
.panel:hover {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35);
}
.panel-body {
    padding: 0px;
    text-align: center;
}
.plan-price {
    background-color: rgba(220,220,220,.17);
    box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #fff;
    margin: 0;
}
.plan-price h1 {
    line-height: 1em;
    padding: 0;
    margin: 0;
}
.plan-detail {
    text-align:center;
}

.planTitle {
    text-align:center;
}
.planStripe {
    position:relative;
    bottom:0px;
}
.planDetails {
    margin-left:30px;
    margin-top:5px;
    margin-bottom:5px;
}
.planDetail {
    font-size:15px;
    margin-top:5px;
}
.ng-invalid {
    color: red;
}
.panel-primary > .panel-heading {
    color: inherit;
    background-color:inherit;
    border-color:inherit;
}
.panel-heading {
    border-bottom: 0px;
}
.panel-primary {
    border-color:inherit;
}

.alert-danger {
    color:#D8000C;
}
.error {
    font-size:25px;
    text-align:center;
}
.calendarBlockSelected {
    border-color:green;
}
.right {
    float:right;
}
.centerText {
    text-align:center;
}